html{
  font-size: 90%; 
}

body{
  font-family: 'Open Sans', sans-serif; 
}

h1{
  margin: 0 auto; 
  padding: 1.5rem; 
  background-color: rgb(41, 219, 219); 
  text-align: center; 
  line-height: 3rem; 
}

section{
  display: flex; 
  flex-wrap: wrap; 
}

article{
  border: 1px solid black; 
  padding: 0.5rem 1rem; 
  margin : 1rem; 
}

figure{
  margin: 0; 
}

h3+p{
  background-color: rgb(212, 201, 46); 
  padding: 0.2rem; 
}

